.nav {
	line-height: 60px;

	@media (max-width: $mobileWidth) {
		background: $primaryColor;
	}

	h2 {
		@extend %hidden;
	}

	ul {
		display: flex;
		flex-direction: row;
		list-style: none;

		@media (max-width: $mobileWidth) {
			flex-direction: column;
		}
		
		li {

			&.spacer {
				flex-grow: 1;
			}

			a {
				display: block;
				padding: 0 20px;
				color: #fff;
				font-weight: bold;
				text-decoration: none;
				text-align: center;
				transition: .2s all;

				&:hover, &:focus {
					background: $primaryColor;
				}

				&.home {
					@extend .fa, .fa-home;
					display: block;
					font-size: 2em;
					vertical-align: bottom;
					line-height: 60px;
				}
			}
		}
	}
}