<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Blog Alberta</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header class="header">
            <div class="site-title">
                <h1>Blog Alberta</h1>
                <p class="subtitle">Od poradników, przez recenzje do relacje.</p>
            </div>
            <form action="/" method="get" class="search">
                <label for="search">Szukana fraza</label>
                <input type="search" id="search" name="q" placeholder="Co chcesz wyszukać..." value="{{ searchTerm|e }}" required>
                <input type="submit" value="Szukaj">
            </form>
        </header>
        <nav class="nav">
            <h2>Nawigacja</h2>
            <ul>
                <li><a href="/" class="home" aria-label="Główna"></a></li>
                <li><a href="#">Poradniki</a></li>
                <li><a href="#">Relacje</a></li>
                <li><a href="#">O mnie</a></li>
                <li><a href="#">Kontakt</a></li>
                <li class="spacer" aria-hidden="true"></li>
                <li><a href="/rss" rel="alternate" type="application/rss+xml">RSS</a></li>
            </ul>
        </nav>
        <div class="wrapper">
            <main class="main">
                {% block content %}{% endblock %}
            </main>
            {% include 'parts/sidebar.twig' %}
        </div>
        <section class="newsletter">
            <h2>Zapisz się do newslettera:</h2>
            <form action="?" method="post">
                <label for="email">Adres email</label>
                <input type="email" id="email" name="email" placeholder="Twój adres email" required>
                <input type="submit" value="Zapisz się">
            </form>
        </section>
        <footer class="footer">
            {% include 'parts/footer.twig' %}
            <p class="foot">
                <span>&copy; Albert Wolszon, 2016.</span>
                <span>Powered by <a href="https://github.com/Albert221/blog">my own blog engine</a>.</span>
            </p>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Open Sans:400,700,400italic,700italic:latin-ext']
                }
            });
        </script>
        <script src="https://use.fontawesome.com/5ea0840dc8.js"></script>
    </body>
</html>