<aside class="sidebar">
    {% for widget in sidebarWidgets %}
        <section>
            <h2>{{ widget.name }}</h2>
            {{ widget.html }}
        </section>
    {% endfor %}
    <section>
        <h2>Chmura tagów</h2>
        <ul class="tags">
            <li><a href="#">Lorem.</a></li>
            <li><a href="#">Assumenda.</a></li>
            <li><a href="#">Ratione!</a></li>
            <li><a href="#">Ipsa.</a></li>
            <li><a href="#">Sapiente?</a></li>
            <li><a href="#">Quod.</a></li>
            <li><a href="#">Quis!</a></li>
            <li><a href="#">Voluptatum?</a></li>
            <li><a href="#">Vel.</a></li>
            <li><a href="#">Magnam!</a></li>
            <li><a href="#">Animi.</a></li>
            <li><a href="#">Earum!</a></li>
            <li><a href="#">Voluptates.</a></li>
            <li><a href="#">Consequatur!</a></li>
            <li><a href="#">Aspernatur.</a></li>
            <li><a href="#">Nulla.</a></li>
            <li><a href="#">Nemo.</a></li>
            <li><a href="#">Voluptate!</a></li>
            <li><a href="#">Officiis.</a></li>
            <li><a href="#">Aperiam.</a></li>
            <li><a href="#">Rerum.</a></li>
            <li><a href="#">Sequi.</a></li>
            <li><a href="#">Reprehenderit.</a></li>
            <li><a href="#">Temporibus.</a></li>
            <li><a href="#">Corporis.</a></li>
            <li><a href="#">Laborum.</a></li>
            <li><a href="#">Iusto!</a></li>
            <li><a href="#">Rerum!</a></li>
            <li><a href="#">Magni!</a></li>
            <li><a href="#">Et.</a></li>
            <li><a href="#">Praesentium?</a></li>
            <li><a href="#">Qui?</a></li>
            <li><a href="#">Recusandae.</a></li>
            <li><a href="#">Officiis.</a></li>
            <li><a href="#">Aut.</a></li>
            <li><a href="#">Sequi.</a></li>
            <li><a href="#">Porro!</a></li>
            <li><a href="#">Qui?</a></li>
            <li><a href="#">Esse.</a></li>
            <li><a href="#">Nostrum.</a></li>
            <li><a href="#">Quo.</a></li>
            <li><a href="#">Animi.</a></li>
            <li><a href="#">Consequuntur!</a></li>
            <li><a href="#">Similique.</a></li>
            <li><a href="#">Culpa.</a></li>
            <li><a href="#">Magni!</a></li>
            <li><a href="#">Exercitationem.</a></li>
            <li><a href="#">Unde.</a></li>
            <li><a href="#">Blanditiis.</a></li>
            <li><a href="#">Modi?</a></li>
        </ul>
    </section>
    <section>
        <h2>Meta</h2>
        <ul class="list">
            <li><a href="#">Panel administracyjny</a></li>
            <li><a href="#">Wyloguj się</a></li>
            <li><a href="#">WordPress.org</a></li>
        </ul>
    </section>
</aside>