<aside class="sidebar">
    {% for widget in sidebarWidgets %}
        <section>
            <h2>{{ widget.name }}</h2>
            {{ widget.html }}
        </section>
    {% endfor %}
    <section>
        <h2>Meta</h2>
        <ul class="list">
            <li><a href="#">Panel administracyjny</a></li>
            <li><a href="#">Wyloguj się</a></li>
            <li><a href="#">WordPress.org</a></li>
        </ul>
    </section>
</aside>